.brown-university {
    background-color: #603913;
}

.linkedin {
	background-color: #0077b5;
}

.riperian {
	background-color: #ffffff;
	color: #000000;
}

.isg {
	background-color: #1cab4e;
}

.lang-js {
	background-color: #f5cb01;
	color: #222222;
}

.lang-html5 {
	background-color: #ff5e00;
}

.lang-css {
	background-color: #00aeff;
}

.lang-java {
	background-color: #c70000;
}

.lang-cpp {
	background-color: #2b46a9;
}

.lang-ogl {
	background-color: #3c8c84;
}

.lang-py {
	background-color: #1e415e;
}

.lang-php {
	background-color: #6582bc;
}