html {
  background-color: #1804ff;
}

.background-image {
  position: fixed;
  top: 0;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/*--------------------------------------------------------------
TITLE
--------------------------------------------------------------*/

.title {
  color: #ffffff;
  margin-bottom: 5rem;
}

.title__h1 {
  font-family: 'zona', -apple-system, "Segoe UI", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .title__h1 {
    font-size: max(2rem, min(3rem, 0.5rem + 1vw));
  }
}

.title__p {
  font-size: max(0.875rem, min(1.2rem, 0.5rem + 1vw));
}

.title__span {
  display: block;
  font-size: 1.2rem;
  text-transform: capitalize;
}

/*--------------------------------------------------------------
PROJECTS
--------------------------------------------------------------*/

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  padding: 1rem 0 2rem 0;
}

.project-list--3 {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  margin-top: 1rem;
}

.project {
  border-radius: 4px;
  position: relative;
}

.project::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: -1;

  border-radius: 4px;
  transform: scale(0.9);
  transition: background-color 100ms ease-in-out,
  transform 100ms ease-in-out;
}

.project:hover::after {
  background-color: rgba(4, 63, 255, 0.2);
  transform: scale(1.075);
}

.project__h3 {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
  color: #222222;
}

.project__p {
  margin: 0;
  color: #444444;
}

.project__img {
  background-color: #444444;
  background-size: cover;
  padding-top: 56.25%;
  border-radius: 4px;
}

@media (max-width: 700px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

.footer {
  padding-bottom: 2rem;
}
