@font-face {
	font-family: zona;
	src: url(../fonts/zona.otf);
}
@font-face {
	font-family: zonathin;
	src: url(../fonts/zonathin.otf);
}

/* General Styling
----------------------------------------------------------------*/
html {
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
	background-color: #0000aa;
}

body {
	margin: 0;
	font-family: 'Roboto';
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: "zona", sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

a {
	color: #004cff;
	text-decoration: none;
	transition: transform 300ms ease;
}

ul {
	padding-left: 1.3em;
}

iframe {
	width: 100%;
	height: auto;
	border: none;
}


/* Background
----------------------------------------------------------------*/
.background-image {
	-webkit-backface-visibility: hidden;
	position: fixed;
	top: 0;

	background: url(../images/bg/bg.png);
	background-size: cover;
	background-position: center center;

	width: 100%;
	height: 100vh;

	z-index: -1;
}

/* Transformations
----------------------------------------------------------------*/
@media (max-width: 767px) {
	.transform--left {
		transform: translate(-250px);
	}
}

.transform__wrapper {
	transition: transform 300ms ease;
}


/* Page Header
----------------------------------------------------------------*/
.header {
	position: fixed;
	width: 100%;
	z-index: 10;
	padding: 0 1em;
	color: #ffffff;
	transition: transform 300ms ease, background-color 300ms ease;
}

.header--solid {
	background-color: #ffffff;
	color: #0000aa;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	
	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
}

@media (max-width: 767px) {
	.header {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}


/* Header nav & Items
----------------------------------------------------------------*/
.nav {
	padding: 0;
	margin: 0;
	list-style: none;
	align-items: center;
	display: flex;
}

.nav__item--bold {
	font-weight: 700;
}

.nav__link {
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	padding: 1em;
	transition: color 300ms ease;
}

.nav__link--solid {
	color: #0000aa;
}

/* Header nav For Mobile vs Desktop
----------------------------------------------------------------*/
.nav--small {
	display: none;
}

@media (max-width: 767px) {
	.nav--small {
		display: block;
	}

	.nav--large {
		position: fixed;
		display: block;
		left: 100%;
		width: 100%;
		height: 100vh;
	}

	.nav__link--large {
		color: #ffffff;
	}
}


/* Intro jumbotron
----------------------------------------------------------------*/
.jumbotron {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
}

.jumbotron__arrow {
	position: absolute;
	bottom: 1em;
	border: none;
	background: transparent;
	font-size: 4rem;
	color: #ffffff;
}

.jumbotron__message {
	text-align: left;
	font-size: 2em;
	color: #ffffff;
	max-width: 1200px;
}

.jumbotron__message-content {
	margin: 0;
	font-family: "zona", sans-serif;
	padding-left: 0.15em;
}

@media (min-width: 1300px) {
	.jumbotron__message {
		padding: 0 4em 1em 4em;
	}
	.jumbotron__message-header {
		font-size: 5em;
	}
	.jumbotron__message-content {
		text-align: right;
		padding-right: 0.7em;
	}
}

@media (min-width: 1000px) and (max-width: 1299px) {
	.jumbotron__message {
		font-size: 3em;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.jumbotron__message {
		font-size: 2.4em;
	}
}

@media (max-width: 767px) {
	.jumbotron__message {
		padding: 1em;
	}
	.jumbotron__arrow {
		font-size: 3em;
		bottom: 0;
		padding-bottom: 0.5em;
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 499px) {
	.jumbotron__message {
		font-size: 1.5em;
	}
}

@media (max-width: 374px) {
	.jumbotron__message {
		font-size: 1.3em;
	}
}

/* Banner
----------------------------------------------------------------*/
.banner {
	height: 10em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.banner__title {
	width: 100%;
	padding-left: 1em;
	max-width: 1200px;
	font-size: 3em;
}

@media (max-width: 767px) {
	.banner__title {
		padding-left: 0.5em;
	}
}

/* Content
----------------------------------------------------------------*/
.content {
	color: #000000;
	overflow: hidden;
	position: relative;
}

/* Posts
----------------------------------------------------------------*/
.post {
	background-color: #ffffff;
}

.post--inverse {
	background: transparent;
	color: #ffffff
}

.post__content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 3em;
}

.post__content *:last-child {
	margin-bottom: 0;
}

.post__image {
	width: 100%;
}

.post__link--inverse {
	color: #00aeff;
}

.post__p {
	font-size: 1.2em;
}

.post__video {
	width: 100%;
	background-color: #000000;
}

.post__video--inverse {
	background-color: #ffffff;
}

@media (max-width: 767px) {
	.post__content {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	.post__download {
		position: relative;
	}
	.post__download--slim {
		margin-top: 1em;
	}
}

/* Post Display
----------------------------------------------------------------*/
.post__display {
	display: flex;
	align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.post__display__caption {
	padding: 2em 4%;
	width: 45%;
	position: relative;
}

.post__display__image {
	flex-shrink: 2;
	width: 100%;
}

.post__download {
	display: block;
	background-color: #0000cc;
	padding: 1em;
	color: #ffffff;
	margin-top: 1em;
}

.post__download--inverse {
	background-color: #ffffff;
	color: #000000;
}

@media (min-width: 1100px) {
	.post__display--reverse {
		flex-direction: row-reverse;
		text-align: right;
	}
}
@media (min-width: 768px) {
	.post__display__h2 {
		font-size: 1.8em;
	}
}

@media (min-width: 768px) and (max-width: 1099px) {
	.post__download {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0.8em 1em;
	}
}

@media (max-width: 1099px) {
	.post__display {
		flex-direction: column;
		align-items: flex-start;
		padding: 3em 1.5em;
	}
	.post__display__caption {
		width: 100%;
		padding: 0;
	}
	.post__display__image {
		margin-top: 1em;
	}
}

/* Gallery
----------------------------------------------------------------*/
.gallery {
	list-style: none;
	padding: 0;
	margin-top: 0.5rem;
}

.gallery__row {
	margin-left: -0.5rem;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.gallery__item {
	width: 100%;
	background: #000000;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	color: #ffffff;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
	
.gallery__item__text {
    padding: 2em 0 2em 2em;
}

.gallery__item__label {
	font-size: 1.5em;
}

.gallery__item__description {
	font-size: 1.2em;
	margin: 0;
}

@media (max-width: 767px) {
	.gallery__row {
		flex-wrap: wrap;
		font-size: 0.8em;
	}
}


/* Gallery Thumbnails
----------------------------------------------------------------*/
.gallery__item__thumbnail {
	height: 8em;
	flex-shrink: 0;
	margin-right: 0.5em;
}

/* Alerts
----------------------------------------------------------------*/
.alert {
	font-size: 1.2em;
	padding-bottom: 1em;
}


/* Footer
----------------------------------------------------------------*/
.footer {
	text-align: center;
	padding: 2em;
	color: #ffffff;
}
