@font-face {
	font-family: zona;
	src: url(../font/zona.otf);
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  margin: 0;
  color: #222222;
  font-family: -apple-system, "Segoe UI", sans-serif;
}

h1 {
  font-size: 4rem;
  font-family: 'zona';
}

h2 {
  font-size: 3rem;
}

h3 {
  margin-top: 2rem;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
}


a {
  text-decoration: none;
  color: #ff5f5f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, ol {
  font-size: 1.125rem;
}

video, img {
  width: 100%;
  margin: 2rem 0;
}

video {
  background-color: #222222;
  border-radius: 4px;
}

img {
  border-radius: 4px;
  overflow: hidden;
  margin: 1rem 0 2rem 0;
}

footer {
  padding-top: 4rem;
  text-align: center;
  color: #999999;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  p, ol {
    font-size: 1rem;
  }
}

.mt0 {
  margin-top: 0;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.wrapper {
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #ff5f5f;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
