body {
    background-color: #111;
    color: #666;
}


/*.wrapper {
    background-image: url(../image/bg/bg1.png);
    background-size: cover;
    background-position: center;
}

#content .container {
    background-color: rgba(0, 0, 0, 0.8);
}*/

.thumbnail .caption {
    color: #666;
}

.caption {}

.thumbnail,
.well {
    background-color: #161616;
    border-color: #000;
}

.footer {
    background-color: #222;
}

h1,
h2 {
    color: #ccc;
}

h3,
.media-heading {
    color: #999;
}

hr {
    border-top-color: #444;
}

.page-header {
    border-bottom-color: #444;
}