/* ===============================================
====================== Main ======================
==================================================*/

body,
html {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #000000;
}

.container {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

hr {
    border-bottom: 0px;
    border-color: rgba(255, 255, 255, 0.2);
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #000;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb:vertical {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    margin: 5px;
}


/* ===============================================
==================== Footer ======================
==================================================*/

footer {
    padding: 1em;
    text-align: center;
    color: #fff;
    width: 100%;
}

body > .container {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -48px;
}

body > .container:after {
    content: "";
    display: block;
}

footer,
body > .container:after {
    /* .push must be the same height as footer */
    height: 48px;
}


/* ===============================================
==================== Links =======================
==================================================*/

a,
section.thumbnail > section,
nav button,
nav .container {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

a {
    color: #008ed0;
    text-decoration: none;
}

a.more-info {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

a.more-info > span {
    text-transform: uppercase;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    margin: 0em 1em;
    font-weight: lighter;
    font-size: 1.2em;
}

a.download {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 0.5em;
}

a.download:hover,
a.more-info:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1199px) {
    a.more-info {
        position: relative;
        padding: 1em;
        width: 100%;
        margin-top: 1.5em;
        font-size: 0.8em;
    }
    a.more-info > span {
        transform: none;
    }
}

@media (max-width: 600px) {
    a.more-info {
        position: relative;
        padding: 1em;
        width: 100%;
        margin-top: 1.5em;
        font-size: 0.8em;
    }
    a.more-info > span {
        transform: none;
    }
}


/* ===============================================
==================== Section =====================
==================================================*/

section {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-weight: lighter;
    padding: 2em;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px #000;
    background-color: #222;
}

section.thumbnail {
    padding: 0em;
}

section.thumbnail-container {
    box-shadow: none;
}

section.container-video > video {
    margin-top: 1em;
}

section.container-gallery,
section.list-image {
    padding-top: 0em;
    padding-bottom: 1em;
    margin-top: -1em;
}

section.list-image {
    padding-bottom: 2em;
}

section.container-gallery > div {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
    margin-bottom: 1em;
    display: inline-block;
    width: 100%;
}

section.container-gallery img {
    max-height: 400px;
    width: auto;
    margin: 0 auto;
}

section.container-gallery hr {
    margin-top: -0.5em;
    margin-bottom: 1.5em;
}

section.container-gallery h3 {
    font-size: 1.8em;
    text-align: center;
}

section.list-image > ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0em;
    padding: 1em;
}

section.list-image > ul > li {
    display: table;
    width: 100%;
    margin: 0;
}

section.list-image > ul > li > span,
section.list-image > ul > li > div {
    display: table-cell;
}

section.list-image > ul > li > span {
    vertical-align: middle;
    width: 15%;
}

section.list-image > ul > li > div {
    padding: 1em;
    width: 85%;
}

section.list-image > ul > li > div p {
    margin: 0.5em 0em 0em 0em;
}

@media (max-width: 999px) {
    section.thumbnail img {
        border: 0.6em solid rgba(0, 0, 0, 0);
        border-bottom: 0em;
    }
}

@media (min-width: 1000px) {
    .thumbnail-container > section {
        float: left;
        width: 50%;
    }
    .thumbnail-container:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        z-index: 100;
    }
    section.thumbnail > section {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        padding: 2em 2em;
    }
    section.thumbnail:hover > section {
        opacity: 1;
    }
}

@media (min-width: 1100px) {
    section.container-video {
        padding: 0em;
        display: table;
    }
    section.container-video > div {
        padding: 0em 2em;
    }
    section.container-video > div,
    section.container-video > video {
        position: relative;
        width: 40%;
        margin: 0em;
        border: none;
        display: table-cell;
        vertical-align: middle;
    }
    section.container-video > video {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    section.container-gallery {
        -webkit-column-count: 3;
        /* Chrome, Safari, Opera */
        -moz-column-count: 3;
        /* Firefox */
        column-count: 3;
    }
    section.container-gallery.col-2 {
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
    }
    section.container-gallery > div {
        height: 100%;
    }
}

@media (max-width: 600px) {
    section.list-image > ul > li > span {
        width: 25%;
    }
    section.list-image > ul > li > div {
        width: 75%;
    }
    section {
        padding: 2em 1em;
    }
    section.container-gallery {
        margin-top: -0.8em;
    }
    section.thumbnail img {
        border-right-color: rgba(0, 0, 0, 0);
    }
}


/* ===============================================
==================== Header ======================
==================================================*/

header {
    height: 100%;
    text-align: center;
    background-image: url(../image/bg/bg1.png);
    background-size: cover;
    background-position: bottom center;
    position: relative;
    box-shadow: 0px 0px 6px #000;
    z-index: 100;
    overflow: hidden;
}

header > div {
    height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

header a {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    margin: 0em 1em;
    font-weight: lighter;
}

header a:hover {
    color: #ffce8a;
}

header h1 {
    color: #fff;
    font-size: 4em;
    margin-bottom: 0em;
}

header p {
    font-size: 1em;
}

@media (max-width: 800px) {
    header h1 {
        font-size: 2em;
    }
    header p {
        font-size: 1em;
    }
}


/* ===============================================
===================== Nav ========================
==================================================*/

nav {
    width: 100%;
    text-align: center;
    background-color: #000000;
    margin: 0em;
    padding: 0em 0em;
    z-index: 200;
}

nav button {
    display: none;
}

nav a {
    text-transform: uppercase;
    display: inline-block;
    color: #888;
    text-decoration: none;
    padding: 1em;
    height: inherit;
    box-sizing: border-box;
    font-size: 1em;
    float: right;
}

nav a.active {
    color: #fff;
    background-color: #000;
    font-weight: bold;
}

nav a[href="index.html"] {
    float: left;
    color: #fff;
}

@media (min-width: 801px) {
    nav {
        position: fixed;
        top: 0;
    }
    nav a:hover {
        background-color: #fff;
        color: #000;
    }
    nav ~ .container {
        padding-top: 48px;
    }
}

@media (max-width: 800px) {
    nav {
        float: left;
        padding: 0em;
    }
    nav,
    nav a {
        overflow: hidden;
    }
    nav button {
        display: block;
        float: right;
        background-color: transparent;
        color: #fff;
        border: none;
        padding: 0.4em 0.6em;
        font-size: 1.5em;
    }
    nav button:hover {
        color: #00aeff;
    }
    nav button:focus {
        outline: none;
    }
    nav button ~ a {
        height: inherit;
        padding: 1em 2em;
        width: 100%;
    }
    nav button ~ a[href="index.html"] {
        padding: 1em;
        text-align: left;
        height: inherit;
        width: 50%;
    }
    nav .container {
        max-height: 48px;
        overflow: hidden;
    }
    nav .container.open {
        overflow: hidden;
        max-height: 240px;
    }
}

nav .container:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    z-index: 100;
}


/* ===============================================
==================== Headings ====================
==================================================*/

h1 {
    font-size: 3em;
    margin-bottom: 0.7em;
    color: rgba(255, 255, 255, 0.8);
}

h1 small {
    font-size: 0.5em;
}

h2 {
    font-size: 2.3em;
    font-weight: lighter;
    margin-bottom: 0.6em;
    color: rgba(255, 255, 255, 0.8);
}

h2 + small {
    display: block;
    margin-top: -0.7em;
}

h3 {
    font-size: 1.5em;
    font-weight: lighter;
    margin: 1em 0;
}

@media (max-width: 800px) {
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 2em;
    }
}


/* ===============================================
================ Paragraph & List ================
==================================================*/

p,
li {
    line-height: 1.5em;
}

p {
    margin: 2em 0em 1em 0em;
}

ul,
ol {
    margin: 2em 1em;
}

ul h3,
ol h3 {
    display: inline;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin: 1em 0em;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    margin: 0.5em 1em;
}


/* ===============================================
===================== Images =====================
==================================================*/

section img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}


/* ===============================================
===================== Video ======================
==================================================*/

video {
    width: 100%;
    display: block;
}


/* ===============================================
===================== Audio ======================
==================================================*/

.music .columns {
    margin-bottom: -1em;
}

.audio {
    padding: 2em;
    color: #bbb;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0em 0em 1em 0em;
}

.audio audio {
    display: block;
    width: 100%;
    margin-top: 1em;
    text-align: left;
}

.audio small {
    display: block;
    margin-top: 0.5em;
    line-height: 1.5em;
}

.audio h4 {
    font-size: 1.5em;
    color: #eee
}

@media (max-width: 600px) {
    .audio {
        padding: 1em;
    }
}

@media (min-width: 1000px) {
    .music .columns {
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
    }
}


/* ===============================================
==================== iFrame ======================
==================================================*/

iframe {
    outline: none;
    width: 100%;
    min-height: 35em;
    display: block;
}